@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Noto+Serif+Malayalam&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a, a:hover{
    text-decoration: none;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #0c52de;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar{
    margin: 0px 5px;
}

.top-bar a{
    color: #fff;
}

.top-bar a:hover{
    color: #222;
}

.navbar-nav .nav-item .nav-link {
    color: #036e21;
    font-size: 20px;
    font-weight: 900; 
}


.navbar-nav .nav-item .nav-link:hover {
    color: #ff7700; /
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-weight: lighter;
}

.logo{
    flex: 1;
}
#About h2{
    color: rgb(7, 7, 120);
}

.card-body h5{
    color: rgb(7, 7, 120);
}
.container h3{
    color: rgb(22, 22, 146);
}

.Heading{
    color: rgb(7, 7, 120);
}
.logo{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.logo img{
    width: 80px;
    margin-right: 10px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px;
}

.toggle{
    font-size: 30px;
    display: none;
}

img.slide{
    height: 520px;
}

.card {
    margin-left: 40px; /* Adjust the value to your preference */
}

@media screen and (max-width: 600px) 
    nav{
    display: block;
    position: relative;
    padding: 15px 20px;
}
h1{
    top: ;
}

